body {
    background-color: #e2e2e2;
}

p {
    text-align: center;
}

.no-cursor {
    cursor: auto;
}

.lvl-btn {
    display: flex;  
    background-color: var(--first);
    color: var(--fourth);
    font-size: 1.5em;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    justify-self: center;
    margin-top: 5%;
}

.lvl-btn:hover {
    background-color: var(--second);
}

.guess-btn {
    display: flex;
    width: 50%;
    justify-content: space-between;
    justify-self: center;
    margin-top: 5%;
}

