    :root {
    --first: #2b2a4c;
    --second: #b31312;
    --third: #ea906c;
    --fourth: #ffffff;
    --bg-color: #eee2de;
    }
    
    * {
        margin: 0;
        padding: 0;
        color: var(--first);
    }

    body {
        background: var(--first);
    }

    #game-area {
        width: 80%;
        background-color: #e3e3e3;
        justify-self: center;
        height: 70dvh;
    }

/* a, p, h1, h2, h3, h4 START */

    a {
        text-decoration: none;
    }

    p {
        text-align: center;
    }    

    h1 {
        color: #e3e3e3;
        margin: 20px;
        text-align: center;
    }

    h3 {
        font-size: 1.2rem;
    }

    .navbar h3 {
        display: none;
    }

/* p, h1, h2, h3, h4 END */

/* Nav START */
/* Larger screen START */

.fixed-nav { 
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 50px;
    justify-self: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.desktop-navbar {
    background: #fff;
    display: flex;
    width: 100%;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu{
    display: none;
}

#menuToggle {
    display: none;
}

ul li {
    display: inline;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: var(--first);
    transition: color 0.5s;

}

a:hover {
    color: var(--third)

}
  
/* Nav END */

/* Main START */

    #game-area, .start-page {
        width: 75%;
        background-color: #e3e3e3;
        justify-self: center;
        height: 63dvh;
        padding: 20px;
    }

    .start-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
    }

    .start-page h2 {
        font-size: 1.5em;
        margin: 30px 0;
        text-align: center;
        grid-column: span 2;
    }

    .start-page p {
        width: 50%;
        margin-left: 25%;

    }

    .lvl-btn, .start-btn {
        display: flex;  
        background-color: var(--first);
        color: var(--fourth);
        font-size: 1.5em;
        width: 200px;
        height: 50px;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        transition: background-color 0.2s;
        justify-self: center;
        margin-top: 10%;
        margin: 0 50px;
        cursor: pointer;
    }

    .start-btn {
        margin-top: 15%;
    }

    .lvl-btn:hover {
        background-color: var(--second);
    }

    .guess-btn {
        display: flex;
        justify-content: space-between;
        justify-self: center;
        margin-top: 5%;
    }

    .next-link:hover {
        color: var(--first); 
    }


/* Main END */

/* Footer START */
    footer {
        position: fixed;
        width: 100%;
        padding: 1rem 2rem;
        text-align: center;
        background-color: var(--fourth);
        bottom: 0;
    }
/* Footer END */


